@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #fafafa;
}

/* removes possibility to scroll when mobile menu dropdown is active  */
body.disableScroll,
body.activeDropdown {
  overflow: hidden;
}

.active {
  @apply bg-gradient-to-r md:bg-none from-[#e0736d26] to-primaryWhite shadow-sm md:shadow-none md:font-semibold;
}

.inner {
  @apply max-w-[1400px] mx-auto;
}

/* width */
::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #fafafa;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #252525;
  border-radius: 30px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
