.swiper-pagination-bullet {
  background-color: rgb(238, 238, 238) !important;
}

.swiper-pagination {
  background-color: #0000003c;
  width: 110px !important;
  padding: 10px;
  border-radius: 10px;
}
